.container {
    width: 44rem;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.navbar {
    box-shadow: 0 .3rem .7rem rgba(0, 0, 0, 0.1);
    padding: 2.2rem;
}

.brand-img {
    width: 8.2rem;
    height: 2.5rem;
}